{% if include.checked %}
	{% assign prop = 'checked' %}
{% else %}
	{% assign prop = '' %}
{% endif %}

<div class="mdc-form-field">
	<div class="mdc-checkbox">
		<input type="checkbox" class="mdc-checkbox__native-control" {{prop}} />
		<div class="mdc-checkbox__background">
			<svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
			<path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
		</svg>
		<div class="mdc-checkbox__mixedmark"></div>
	</div>
</div>
	<label for="checkbox-1">{{ include.label | default: 'Checkbox label'}}</label>
</div>

{% assign atomic_props = 'label, checked' %}


<div class="atomic__description">
	
</div>
<div class="atomic__props">
	<h6>All available props</h6>
	<ul>
		{% assign renderprops = atomic_props | strip | split: ',' %}
		{% for prop in renderprops %}
			<li>
				<code>
					{{prop | remove: '--mandatory' }} 
					{% if prop contains '--mandatory' %}
						<span class="badge badge-warning">-mandatory</span>
					{% endif %}
				</code>
			</li>
		{% endfor %}
	</ul>
</div>